.header-desk {
  background: rgba(19, 19, 19, 0.85);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.linha {
  position: relative;
  /* Adicione um espaçamento extra ao redor do texto */
}

.linha ::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fdc401;
  transition: width 0.3s ease;
}

.linha :hover::before {
  width: 100%;
}

.mobile-menu-5 {
  width: 40px;
  height: 40px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.mobile-menu-5 .line-1,
.mobile-menu-5 .line-2,
.mobile-menu-5 .line-3 {
  position: absolute;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

.mobile-menu-5 .line-1 {
  top: 3px;
}

.mobile-menu-5 .line-2 {
  top: 14px;
}

.mobile-menu-5 .line-3 {
  top: 25px;
}

.mobile-menu-5.toggle .line-1 {
  top: 14px;
  transform: rotate(135deg);
}

.mobile-menu-5.toggle .line-2 {
  opacity: 0;
  left: -30px;
}

.mobile-menu-5.toggle .line-3 {
  top: 14px;
  transform: rotate(-135deg);
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slideInRight {
  animation: slideInRight 0.5s forwards;
}

/* styles.css */
@keyframes slideInRightIndividual {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slideInRightIndividual {
  animation: slideInRightIndividual 0.5s forwards;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

/* Define a duração da animação */
.animate-bounce {
  animation: bounce 0.6s;
}
